extends _layout

block title
	title 1-1product-page

block content
	include includes/_header
	.wrapper.wrapper-products
		nav.secondary-nav
			a.btn-back(href="#")
				span 
					i
					| Назад в раздел
			a(href="#" class="btn btn-black")
				span Получить консультацию
			ul
				-var current = "Описание"
				mixin scroll(scrollId, title)
					li
						a(data-scroller=scrollId class={active: title === current}) #{title}
				+scroll("#scroll-1", "Описание")
				+scroll("#scroll-2", "Варианты отделки")
				+scroll("#scroll-3", "преимущества")
				+scroll("#scroll-4", "комплектация")

		section.container
				.content
					.l-center
						.row.row-products
							.st-container
								.sidebar-form
									.form
										.category-title Входные двери внутренние
										.category-name Входные двери Гранит L
										.category-descr
											p Современные входные металлические двери в квартиру способны выполнять намного более важное назначение, нежели просто конструкция
										.category-form__title Конструктор двери
										form
											.field
												.field-body
													.field-item(data-modal="size")
														span Выберите размер
														i.icon
											.field
												.field-body
													.field-item(data-modal="lining")
														span Выберите облицовку
														i.icon
											.field
												.field-body
													.field-item(data-modal="color")
														span Выберите цвет
														i.icon
											.field
												.field-body
													.field-item(data-modal="equipment")
														span Выберите комплектацию
														i.icon
											.field
												.field-body
													.price от 26 250Р
											.field.btns
												.field-body
													a.btn.btn-red(data-modal="order")
														span Заказать
								.produts-sliders
									.products-slider_container
										.produts-slider_main.single-image
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
										.rotator-navi
											.rotator-arrow.rotator-arrow__left
											.rotator-counter
												.rotator__counter-current 1
												.rotator__counter-separator /
												.rotator__counter-all 4
											.rotator-arrow.rotator-arrow__right
									.products-slider_fur
										.product-slider_main-fur
											.products-slider__item
												.image__cover
													img(src="img/furniture.jpg")
												.descr
													.image__cover
														img(src="img/designer.png")
													.name Дизайн: Zaha Hadid
													.collection Се́рия: ZH Duemilacinque
											.products-slider__item
												.image__cover
													img(src="img/furniture.jpg")
												.descr
													.image__cover
														img(src="img/designer.png")
													.name Дизайн: Zaha Hadid
													.collection Се́рия: ZH Duemilacinque
							.sc-section(id="scroll-1")
								.title Описание
								.columns
									.columns__left.images
										.image-container
											a(href="img/contant-image.jpg" rel="single" class="resize")
												img(src="img/contant-image.jpg")
									.columns__right
										.h2 Входные двери Гранит L — как за&nbsp;каменной стеной
										p Дверной блок состоит из цельнометаллической коробки и стального утепленного полотна, облицованного декоративными панелями.
										p Конструкция коробки состоит из профиля, выполненного из стальных листов толщ. 1.5 мм, и имеет цельносварную конструкцию. Сечение профиля позволяет устанавливать коробку в проемы всех типов стен. В коробку устанавливается резиновый уплотнитель Deventer. Возможна комплектация коробки стационарным порогом.
										p Полотно имеет цельносварную коробчатую конструкцию, состоящую из двух цельных стальных листов толщ. 1 мм, усиленных шестью ребрами жесткости. Совокупная толщина листовых элементов сэндвича составляет 4 мм. 
								hr
							.sc-section(id="scroll-2")
								.title Конструктивные элементы
								.image-cases.image-design
									.image-row.image-row__small
										.image-row__item
											figure
												img(src="img/image-small.jpg")
												figcaption Безопасность
										.image-row__item
											figure
												img(src="img/image-small.jpg")
												figcaption Долговечность
										.image-row__item
											figure
												img(src="img/image-small.jpg")
												figcaption высокое качество используемых материалов
										.image-row__item
											figure
												img(src="img/image-small.jpg")
												figcaption высокое качество используемых материалов
										.image-row__item
											figure
												img(src="img/image-small.jpg")
												figcaption высокое качество используемых материалов
										.image-row__item
											figure
												img(src="img/image-small.jpg")
												figcaption высокое качество используемых материалов
								hr
							.sc-section(id="scroll-3")
								.title Комплектация
								.complectation
									.complectation-item
										.complectation-item_inner
											.complectation-head
												span запорный механизм
											a.complectation-body(href="img/popups.jpg" rel="gallery-1" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
												.complectation-image
													img(src="img/popups-small.jpg")
												div(class="complectation-popup") Подробнее
											.complectation-hidden
												a(href="img/popups.jpg" rel="gallery-1" class="complectation-body" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
												a(href="img/popups.jpg" rel="gallery-1" class="complectation-body" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
												a(href="img/popups.jpg" rel="gallery-1" class="complectation-body" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
												a(href="img/popups.jpg" rel="gallery-1" class="complectation-body" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
												a(href="img/popups.jpg" rel="gallery-1" class="complectation-body" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
												a(href="img/popups.jpg" rel="gallery-1" class="complectation-body" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
									.complectation-item
										.complectation-item_inner
											.complectation-head
												span запорный механизм
											a.complectation-body(href="img/popups.jpg" rel="gallery-2" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
												.complectation-image
													img(src="img/popups-small.jpg")
												div(class="complectation-popup") Подробнее
											.complectation-hidden
												a(href="img/popups.jpg" rel="gallery-2" class="complectation-body" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
												a(href="img/popups.jpg" rel="gallery-2" class="complectation-body" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
												a(href="img/popups.jpg" rel="gallery-2" class="complectation-body" title="Четырехригельный главный замок является основным элементом взломостойкой запирающей системы. От цилиндра данного замка приводится в работу дополнительный замок и вертикальный ригель")
								hr
							.sc-section(id="scroll-4")
								.title Варианты отделки
								.columns
									.columns__left
										.h2 Более 250 доступных цветов и 3 варианта 
									.columns__right
										p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям к теплосбережению. Преимущества стали в комбинации с теплоизоляционным материалом высочайшего качества.
								.tab-container
									.tab-nav
										ul
											- var curr = "главный замок1"
											mixin tabsNavs(data, name)
												li.tab__item(class={active: name === curr})
													a(data-tab = data) #{name}
											+tabsNavs("tab0", "Шпон")
											+tabsNavs("tab1", "HPL-пластик")
											+tabsNavs("tab2", "декоративная пленка ")
											+tabsNavs("tab3", "ручка")
									.tab-in
										.tab-cont(data-tab-cont="tab0")
											.furn-rotator.furn-content
												mixin furn(id, image, brand, series, value)
													.furn-rotator__item
														.rotator__item-inner
															.image__cover
																img(src=image)
															.descr
																.name #{brand}
												+furn("id-1","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-2","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-3","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-4","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-1","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-2","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-3","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-4","img/slide-item.jpg", "Дуб натуральный")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
										.tab-cont(data-tab-cont="tab1")
											.furn-rotator.furn-content
												mixin furn(id, image, brand, series, value)
													.furn-rotator__item
														.rotator__item-inner
															.image__cover
																img(src=image)
															.descr
																.name #{brand}
												+furn("id-1","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-2","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-3","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-4","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-1","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-2","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-3","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-4","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-4","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-1","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-2","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-3","img/slide-item.jpg", "Дуб натуральный")
												+furn("id-4","img/slide-item.jpg", "Дуб натуральный")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
										.tab-cont(data-tab-cont="tab2")
											.tab-textblock
												.image-container
													img(src="img/ral.jpg")
												.text
													p Облицовка декоративной пленкой включает в себя до 250 различных цветов и оттенков в соответсвии с палитрой RAL. Ознакомиться со всей палитрой вы можете скачав ее по ссылки предоставленной ниже.
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Палитра RAL
										.tab-cont(data-tab-cont="tab3")
											.furn-rotator.furn-content
												mixin furn(id, image, brand, series, value)
													.furn-rotator__item
														.rotator__item-inner
															.image__cover
																img(src=image)
															.descr
																.name Бренд: #{brand}
																.series Серия: #{series}
												+furn("id-14","img/furniture-slide.jpg", "Kale", "1013JU", "Бренд: Кале, Серия: 1013JU")
												+furn("id-15","img/furniture-slide.jpg", "Zaha Hadid", "12Kid", "Бренд: Zaha Hadid, Серия: 12Kid")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
								hr
							.sc-section(id="scroll-5")
								.title Монтажные узлы
								.image-cases
									.image-row.image-row__big
										.rotator-image
											.single-image
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
										p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
											a(href="" target="_blank" rel="nofollow" class="download-file")
												i.icon
												span Монтажные узлы
								hr
							.sc-section(id="scroll-5")
								.title Монтажные узлы
								.image-cases
									.image-row.image-row__big
										.rotator-image
											.single-image
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
										.rotator-caption
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы
							.sc-section(id="scroll-5")
								.title Монтажные узлы
								.image-cases
									.image-row.image-row__big
										.rotator-image
											.single-image
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
										.rotator-caption
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы
											.caption-item
												p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
													a(href="" target="_blank" rel="nofollow" class="download-file")
														i.icon
														span Монтажные узлы

	include includes/_footer