extends _layout

block title
	title 1-1product-page

block content
	include includes/_header
	.wrapper.wrapper-products
		nav.secondary-nav
			a.btn-back(href="#")
				span 
					i
					| Назад в раздел
			a(href="#" class="btn btn-black")
				span Получить консультацию
			ul
				-var current = "Описание"
				mixin scroll(scrollId, title)
					li
						a(data-scroller=scrollId class={active: title === current}) #{title}
				+scroll("#scroll-1", "Описание")
				+scroll("#scroll-2", "Варианты отделки")
				+scroll("#scroll-3", "преимущества")
				+scroll("#scroll-4", "комплектация")

		section.container
				.content
					.l-center
						.row.row-products
							.st-container
								.sidebar-form
									.form
										.category-title Входные двери внутренние
										.category-name Входные двери Гранит L
										.category-descr
											p Современные входные металлические двери в квартиру способны выполнять намного более важное назначение, нежели просто конструкция
										.category-form__title Конструктор двери
										form
											.field
												.field-body
													.field-item(data-modal="size")
														span Выберите размер
														i.icon
											.field
												.field-body
													.field-item(data-modal="lining")
														span Выберите облицовку
														i.icon
											.field
												.field-body
													.field-item(data-modal="color")
														span Выберите цвет
														i.icon
											.field
												.field-body
													.field-item(data-modal="equipment")
														span Выберите комплектацию
														i.icon
											.field
												.field-body
													.price от 26 250Р
											.field.btns
												.field-body
													a.btn.btn-red(data-modal="order")
														span Заказать
								.produts-sliders
									.products-slider_container
										.produts-slider_main.single-image
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
											.products-slider__item
												a.resize(href="img/product.jpg" rel="gallery")
												.image__cover
													img(src="img/product.jpg")
												.badge
													.badge-item.tips(aria-describedby="tip1")
														.tooltip#tip1(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-4.png")
													.badge-item.tips(aria-describedby="tip2")
														.tooltip#tip2(role="tooltip")
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
														img(src="img/icons/icon-5.png")
										.rotator-navi
											.rotator-arrow.rotator-arrow__left
											.rotator-counter
												.rotator__counter-current 1
												.rotator__counter-separator /
												.rotator__counter-all 4
											.rotator-arrow.rotator-arrow__right
									.products-slider_fur
										.product-slider_main-fur
											.products-slider__item
												.image__cover
													img(src="img/furniture.jpg")
												.descr
													.image__cover
														img(src="img/designer.png")
													.name Дизайн: Zaha Hadid
													.collection Се́рия: ZH Duemilacinque
											.products-slider__item
												.image__cover
													img(src="img/furniture.jpg")
												.descr
													.image__cover
														img(src="img/designer.png")
													.name Дизайн: Zaha Hadid
													.collection Се́рия: ZH Duemilacinque
							.sc-section(id="scroll-1")
								.title Описание
								.columns
									.columns__left
										.h2 Входные двери Гранит L — как за&nbsp;каменной стеной
									.columns__right
										p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям к теплосбережению. Преимущества стали в комбинации с теплоизоляционным материалом высочайшего качества, из которого производится “термомост” позволяет получать превосходный дизайн дверей и перегородок со значительно увеличенными габаритами конструкций.
								hr
							.sc-section(id="scroll-2")
								.title Варианты отделки
								.columns
									.columns__left
										.h2 Более 250 доступных цветов и&nbsp;3 варианта 
									.columns__right
										p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям к теплосбережению. Преимущества стали в комбинации с теплоизоляционным материалом высочайшего качества.
								.colors
									figure(class="active")
										.image__cover
											img(src="img/surface.png")
										figcaption порошковая окраска
									figure
										.image__cover
											img(src="img/surface.png")
										figcaption окраска автоэмалью
									figure
										.image__cover
											img(src="img/surface.png")
										figcaption окраска жидкими красками
								.colors-variants
									.h3 Варианты цветов
									.color-rotator.color-rotator__cont
										mixin color(id, tip, hex, color)
											.color-item
												.color-hex.tips(aria-describedby=tip style="background-color:" + hex + ";")
												.tooltip(id=tip role="tooltip")
													p #{color}

										+color("t-1","tips-1", "#000000", "Черный")
										+color("t-2","tips-2", "#d7fdce", "Черный")
										+color("t-3","tips-3", "#8d7f0e", "Черный")
										+color("t-4","tips-4", "#40c362", "Черный")
										+color("t-5","tips-5", "#5bd3fd", "Черный")
										+color("t-6","tips-6", "#de7503", "Черный")
										+color("t-7","tips-7", "#000000", "Черный")
										+color("t-8","tips-8", "#d7fdce", "Черный")
										+color("t-9","tips-9", "#8d7f0e", "Черный")
										+color("t-10","tips-10", "#40c362", "Черный")
										+color("t-11","tips-11", "#5bd3fd", "Черный")
										+color("t-12","tips-12", "#de7503", "Черный")
										+color("t-13","tips-13", "#40c362", "Черный")
										+color("t-14","tips-14", "#5bd3fd", "Черный")
										+color("t-15","tips-15", "#de7503", "Черный")
										+color("t-16","tips-16", "#000000", "Черный")
										+color("t-17","tips-17", "#d7fdce", "Черный")
										+color("t-18","tips-18", "#8d7f0e", "Черный")
										+color("t-19","tips-19", "#40c362", "Черный")
										+color("t-20","tips-20", "#5bd3fd", "Черный")
										+color("t-21","tips-21", "#de7503", "Черный")
										+color("t-22","tips-22", "#000000", "Черный")
										+color("t-23","tips-23", "#d7fdce", "Черный")
										+color("t-24","tips-24", "#8d7f0e", "Черный")
										+color("t-25","tips-25", "#40c362", "Черный")
										+color("t-26","tips-26", "#5bd3fd", "Черный")
										+color("t-27","tips-27", "#de7503", "Черный")
										+color("t-28","tips-28", "#40c362", "Черный")
										+color("t-29","tips-29", "#5bd3fd", "Черный")
										+color("t-30","tips-30", "#de7503", "Черный")
										+color("t-31","tips-31", "#000000", "Черный")
										+color("t-32","tips-32", "#d7fdce", "Черный")
										+color("t-33","tips-33", "#8d7f0e", "Черный")
										+color("t-34","tips-34", "#40c362", "Черный")
										+color("t-35","tips-35", "#5bd3fd", "Черный")
										+color("t-36","tips-36", "#de7503", "Черный")
										+color("t-37","tips-37", "#000000", "Черный")
										+color("t-38","tips-38", "#d7fdce", "Черный")
										+color("t-39","tips-39", "#8d7f0e", "Черный")
										+color("t-40","tips-40", "#40c362", "Черный")
										+color("t-41","tips-41", "#5bd3fd", "Черный")
										+color("t-42","tips-42", "#de7503", "Черный")
										+color("t-43","tips-43", "#40c362", "Черный")
										+color("t-44","tips-44", "#5bd3fd", "Черный")
										+color("t-45","tips-45", "#de7503", "Черный")
										+color("t-46","tips-46", "#000000", "Черный")
										+color("t-47","tips-47", "#d7fdce", "Черный")
										+color("t-48","tips-48", "#8d7f0e", "Черный")
										+color("t-49","tips-49", "#40c362", "Черный")
										+color("t-50","tips-50", "#5bd3fd", "Черный")
										+color("t-51","tips-51", "#de7503", "Черный")
										+color("t-52","tips-52", "#000000", "Черный")
										+color("t-53","tips-53", "#d7fdce", "Черный")
										+color("t-54","tips-54", "#8d7f0e", "Черный")
										+color("t-55","tips-55", "#40c362", "Черный")
										+color("t-56","tips-56", "#5bd3fd", "Черный")
										+color("t-57","tips-57", "#de7503", "Черный")
										+color("t-58","tips-58", "#40c362", "Черный")
										+color("t-59","tips-59", "#5bd3fd", "Черный")
										+color("t-60","tips-60", "#de7503", "Черный")
										+color("t-61","tips-61", "#000000", "Черный")
										+color("t-62","tips-62", "#d7fdce", "Черный")
										+color("t-63","tips-63", "#8d7f0e", "Черный")
										+color("t-64","tips-64", "#40c362", "Черный")
										+color("t-65","tips-65", "#5bd3fd", "Черный")
										+color("t-66","tips-66", "#de7503", "Черный")
										+color("t-67","tips-67", "#000000", "Черный")
										+color("t-68","tips-68", "#d7fdce", "Черный")
										+color("t-69","tips-69", "#8d7f0e", "Черный")
										+color("t-70","tips-70", "#40c362", "Черный")
										+color("t-71","tips-71", "#000000", "Черный")
										+color("t-72","tips-72", "#d7fdce", "Черный")
										+color("t-73","tips-73", "#8d7f0e", "Черный")
										+color("t-74","tips-74", "#40c362", "Черный")
										+color("t-75","tips-75", "#5bd3fd", "Черный")

									.rotator-navi
										.rotator-arrow.rotator-arrow__left
										.rotator-counter
											.rotator__counter-current 1
											.rotator__counter-separator /
											.rotator__counter-all 4
										.rotator-arrow.rotator-arrow__right
								hr
							.sc-section(id="scroll-3")
								.title Преимущества
								.columns
									.columns__left
										.h2 Ваш уют за нашими качественными дверями!
									.columns__right
										p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям к теплосбережению. Преимущества стали в комбинации с теплоизоляционным материалом высочайшего качества.
								.image-cases
									.image-row.image-row__small
										.image-row__item
											figure
												img(src="img/image-small.jpg")
												figcaption Безопасность
										.image-row__item
											figure
												img(src="img/image-small.jpg")
												figcaption Долговечность
										.image-row__item
											figure
												img(src="img/image-small.jpg")
												figcaption высокое качество используемых материалов 
									.image-row.image-row__medium
										.image-row__item
											figure
												img(src="img/image-medium.jpg")
												figcaption 
													.caption-title Ваш уют за нашими дверями
													p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям 
										.image-row__item
											figure
												img(src="img/image-medium.jpg")
												figcaption
													.caption-title Ваш уют за нашими дверями
													p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
									.image-row.image-row__big
										.rotator-image
											.single-image
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
												.carousel-item
													figure
														img(src="img/image-big.jpg")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
										.caption-title Ваш уют за нашими дверями
										p Супертеплая система “Стандарт 3 SW” это в своем роде новый стандарт в теплоизоляции светопрозрачных конструкций отвечающий повышенным требованиям
								hr
							.sc-section(id="scroll-4")
								.title Комплектация
								.tab-container
									.tab-nav
										ul
											- var curr = "главный замок1"
											mixin tabsNavs(data, name)
												li.tab__item(class={active: name === curr})
													a(data-tab = data) #{name}
											+tabsNavs("tab0", "главный замок")
											+tabsNavs("tab1", "дневной замок")
											+tabsNavs("tab2", "нижний замок")
											+tabsNavs("tab3", "ручка")
									.tab-in
										.tab-cont(data-tab-cont="tab0")
											.furn-rotator.furn-content
												mixin furn(id, image, brand, series, value)
													.furn-rotator__item
														.rotator__item-inner
															.image__cover
																img(src=image)
															.descr
																.name Бренд: #{brand}
																.series Серия: #{series}
												+furn("id-1","img/furniture-slide.jpg", "Kale", "1013JU", "Бренд: Кале, Серия: 1013JU")
												+furn("id-2","img/furniture-slide.jpg", "Zaha Hadid", "12Kid", "Бренд: Zaha Hadid, Серия: 12Kid")
												+furn("id-3","img/furniture-slide.jpg", "Gerda", "138990", "Бренд: Gerda, Серия: 138990")
												+furn("id-4","img/furniture-slide.jpg", "Gerda", "138990", "Бренд: Gerda, Серия: 138990")
												+furn("id-1","img/furniture-slide.jpg", "Kale", "1013JU", "Бренд: Кале, Серия: 1013JU")
												+furn("id-2","img/furniture-slide.jpg", "Zaha Hadid", "12Kid", "Бренд: Zaha Hadid, Серия: 12Kid")
												+furn("id-3","img/furniture-slide.jpg", "Gerda", "138990", "Бренд: Gerda, Серия: 138990")
												+furn("id-4","img/furniture-slide.jpg", "Gerda", "138990", "Бренд: Gerda, Серия: 138990")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
										.tab-cont(data-tab-cont="tab1")
											.furn-rotator.furn-content
												mixin furn(id, image, brand, series, value)
													.furn-rotator__item
														.rotator__item-inner
															.image__cover
																img(src=image)
															.descr
																.name Бренд: #{brand}
																.series Серия: #{series}
												+furn("id-5","img/furniture-slide.jpg", "Kale", "1013JU", "Бренд: Кале, Серия: 1013JU")
												+furn("id-6","img/furniture-slide.jpg", "Zaha Hadid", "12Kid", "Бренд: Zaha Hadid, Серия: 12Kid")
												+furn("id-7","img/furniture-slide.jpg", "Gerda", "138990", "Бренд: Gerda, Серия: 138990")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
										.tab-cont(data-tab-cont="tab2")
											.furn-rotator.furn-content
												mixin furn(id, image, brand, series, value)
													.furn-rotator__item
														.rotator__item-inner
															.image__cover
																img(src=image)
															.descr
																.name Бренд: #{brand}
																.series Серия: #{series}
												+furn("id-8","img/furniture-slide.jpg", "Kale", "1013JU", "Бренд: Кале, Серия: 1013JU")
												+furn("id-9","img/furniture-slide.jpg", "Zaha Hadid", "12Kid", "Бренд: Zaha Hadid, Серия: 12Kid")
												+furn("id-10","img/furniture-slide.jpg", "Gerda", "138990", "Бренд: Gerda, Серия: 138990")
												+furn("id-11","img/furniture-slide.jpg", "Kale", "1013JU", "Бренд: Кале, Серия: 1013JU")
												+furn("id-12","img/furniture-slide.jpg", "Zaha Hadid", "12Kid", "Бренд: Zaha Hadid, Серия: 12Kid")
												+furn("id-13","img/furniture-slide.jpg", "Gerda", "138990", "Бренд: Gerda, Серия: 138990")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
										.tab-cont(data-tab-cont="tab3")
											.furn-rotator.furn-content
												mixin furn(id, image, brand, series, value)
													.furn-rotator__item
														.rotator__item-inner
															.image__cover
																img(src=image)
															.descr
																.name Бренд: #{brand}
																.series Серия: #{series}
												+furn("id-14","img/furniture-slide.jpg", "Kale", "1013JU", "Бренд: Кале, Серия: 1013JU")
												+furn("id-15","img/furniture-slide.jpg", "Zaha Hadid", "12Kid", "Бренд: Zaha Hadid, Серия: 12Kid")
											.rotator-navi
												.rotator-arrow.rotator-arrow__left
												.rotator-counter
													.rotator__counter-current 1
													.rotator__counter-separator /
													.rotator__counter-all 4
												.rotator-arrow.rotator-arrow__right
	include includes/_footer